/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

/* default style */
*{
    margin: 0;
    padding: 0;
}

/* commom styles */

body{
    font-family: 'Oxygen';
}

.hamburger{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

#hamburger-button{
    border: none;
    border-radius: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    font-size: 20px;
    font-family: 'Oxygen';
    color: #252B31;
}

#hamburger-menu{
    width: 200px;
    height: 100vh;
    background:#252B31;
    color: #FFFCF9;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    animation: open 0.2s;
    box-shadow: 0px 0px 8px 1px #252B31a3;
}

#hamburger-menu ul{
    margin-top: 50px;
}

#hamburger-menu ul li{
    text-decoration: none;
    padding:10px 20px;
}

#hamburger-menu ul li a{
    text-decoration: none;
    color: #FFFCF9;
    font-size: 22px;
    transition: ease-in-out 0.2s;
}

#hamburger-menu ul li a:hover{
    text-decoration: underline;
    padding-left: 10px;
    transition: ease-in-out 0.2s;
}

#ham-close{
    border: none;
    border-radius: 0;
    background: transparent;
    color: #FFFCF9;
    font-size: 26px;
    width: 50px;
    height: 50px;
}

/* .ham-hidden{
    width: 0;
} */

.font-regular{
    font-family: 'Oxygen';
    /* font-weight: 800; */
}

.font-bold{
    font-family: 'Oxygen';
    font-weight: 900;
}

.underline{
    -moz-text-decoration-line: underline;
    text-decoration-line: underline;
    text-decoration-thickness : 2px; 
}

/* mobile styles ( save it in the different file and import )*/
.container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
}

.intro{
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: #FFFCF9;
    width: 100%;
    height: auto;
    /* background-image: url(./pictures/portfolio-website-logo.png); */
}

.header{
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;
    height: auto;
    background: #06D6A0;
    padding: 100px 0;
    color: #FFFCF9;
    text-align: center;
    font-size: 20px;
}

.content{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    height: auto;
    width: 100%;
    background: #FFFCF9;
    color: #252B31;
    font-size: 20px;
}

.project-grid{
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
    width: 100%;
    height: auto;
}

.projects{
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;
    height: auto;
    background: #06D6A0;
}

.contact{
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;
    height: auto;
    background: #8B95C9;
}

.content-wrapper{
    margin: auto;
    padding: 45px 50px;
}

.porject-grid{
    padding: 24px 0;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    gap: 25px;
}

.project-card{
    background-color: #FFFCF9;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    border-left-style: solid;
    border-left-color: #8B95C9;
}

.project-card:hover{
    box-shadow: 0px 0px 16px 1px #252B314a;
    transition:ease-in-out 0.2s;
}

.project-card > * {
    padding: 10px 15px;
}

h1{
    font-size: 435%;
    line-height: 70px;
}

h2{
    font-size: 24px;
    line-height: 50px;
    padding: 35px 0;
}

.contact-heading{
    font-size: 35px;
}

.contact .content-wrapper a{
    text-decoration: none;
    margin: 0px 10px 0px 0px;
    line-height: 25px;
    font-size: 17px;
    color: #FFFCF9;
    transition: 0.2s;
}

.contact .content-wrapper a:hover{
    color: #252B31;
    transition: ease-in-out 0.2s;
}

.projects a{
    text-decoration: none;
    color: #FFFCF9;
    font-size: 18px;
    transition: 0.2s;
}

.projects a:hover{
    color: #252B31;
    transition: ease-in-out 0.2s;
}

.project-card-links a{
    margin-right: 10px;
    font-size: 18px;
    color: #252B31;
    transition: 0.2s;
}

.project-card-links a:hover{
    color: #06D6A0;
    transition: ease-in-out 0.2s;
}

.intro a{
    text-decoration: none;
    color: #252B31;
    font-size: 15px;
    transition: 0.2s;
}

.intro a:hover{
    color: #8B95C9;
    transition: ease-in-out 0.2s;
}

.contacts{
    padding: 20px 0;
}

.contact .content-wrapper{
    padding: 45px 50px;
}

.contacts svg{
    /* padding: 20px 0; */
    font-size: 25px;

}

.color-dark{
    color: #252B31
}

.color-light{
    color: #FFFCF9
}

/* .project-grid .project-card{
    border-left-style: solid;
    border-left-color: #8B95C9;
    /* box-shadow:  0px 0px 4px 1px #252B31a3; */
/* } */ 

.project-card{
    border-left-style: solid;
    border-left-color: #8B95C9;
    /* box-shadow:  0px 0px 4px 1px #252B31a3; */
}

.project-card-details{
    font-size: 18px;
    text-align: justify;
}

.project-card-lang{
    font-size: 15px;
}

.watermark{
    /* margin: 15px 0; */
    display: block;
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    font-weight:  400;
    color: #FFFCF9;
    padding: 0 50px;
    line-height: 2.5em;
} 

.error-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFFCF9;
}

.error-container{
    position: absolute;
    top: 20%;
    /* background: #FFFCF9; */
    color: #252B31;
}

.error-name{
    display: block;
    font-size: 180px;
    color: #8B95C9;
    height: 100px;
    padding-left: 50px;

}

.about-me-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'image' 'info';
}


.about-me-info{
    grid-area: info;
    line-height: 2em;
    text-align: justify;
}

.about-me-info a{
    color: #252B31;
}

.image{
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* desktop styles ( save it in different file and import ) */
@media only screen and (min-width: 768px) {
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        min-height: 100vh;
    }
    
    .intro{
        grid-area: "intro";
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        width: auto;
        height: auto;
        background-color: #FFFCF9;
        /* background-image: url(./pictures/portfolio-website-logo.png); */
    }
    
    .header{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        height: auto;
        background: #06D6A0;
        padding: 100px 0;
        color: #FFFCF9;
        text-align: center;
    }

    .content{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        /* min-height: 65vh; */
        width: 100%;
        background: #FFFCF9;
        color: #252B31;
        font-size: 20px;
        /* padding: 0 5%; */
        
    }

    .projects{
        grid-area: "projects";
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: -1;
        width: auto;
        height: auto;
        background: #06D6A0;
    }

    .project-grid{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        row-gap: 35px;
        width: 100%;
        height: auto;
    }
    
    .contact{
        grid-area: "contact";
        grid-column-start: 1;
        grid-column-end:  3;
        grid-row-start: 3;
        grid-row-end: 4;
        width: auto;
        height: auto;
        background: #8B95C9;
    }

    .contact .content-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .about-me-grid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 'info image' ;
    }
    
    .about-me-info{
        line-height: 2em;
    }
    
    .about-me-info a{
        color: #252B31;
    }
    
    .image{
        width: 500px;
        height: 500px;
        object-fit: contain;
    }
}

/* Animations */

@keyframes open{
    0%{
        width: 0px;
    }
    100%{
        width:200px;
    }
}

@keyframes close{
    0%{
        width: 200px
    }
    100%{
        width: 0px
    }
}

